.card-box{
    max-width: 220px  !important;
    max-height: 350px  !important;
    background: #ffffff !important;
    display: flex  !important;
    flex-direction: column  !important;
    border-radius: 12px  !important;
    justify-content: center  !important;
    margin: 10px  !important;
    margin-top: 0rem !important;
    padding: 0px !important;
}
.card-box img{
    max-width: 300px;
    max-height: 280px;
    border-radius: 5px;
}

.card-box div{
    font-size: 1.2em;
    font-weight: 500;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.label{
    font-family: cursive !important;
}